<main id="bgMain">
  <div class="cardsGrid">
    <h1 id="mainTitle">Livros em Destaque:</h1>
    <div class="cards">
      <img src="assets/images/image 5.png" alt="Imagens de Livros" />
    </div>
    <div class="cards">
      <img src="assets/images/image 6.png" alt="Imagens de Livros" />
    </div>
    <div class="cards">
      <img src="assets/images/image 7.png" alt="Imagens de Livros" />
    </div>
    <div class="cards">
      <img src="assets/images/image 8.png" alt="Imagens de Livros" />
    </div>
  </div>
</main>