#bgMain{
    margin-top: 197.1px;
    margin-left: -5px;
    background-image: url('/assets/images/image 9.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#mainTitle{
    width: 391px;
    height: 32px;
    margin-top: -11px;
    margin-left: 40px;
    color: #fff;
    height: 900;
    font-style: italic;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: default;
}

.cardsGrid{
  display: flex;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 40px;
  margin-top: -194px;
  margin-left: -45px;
}

img{
  border: 16px solid #E4E4E4;  
  outline: 2px solid #000;
}

.cards{
    padding: 16px 8px;
    width: 225px;
    height: 320px;
    margin-top: 36px;
    margin-left: -263px;
}