.perfil-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.perfil-card {
  width: 490px;
  background: #fff;
  padding: 25px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px #00000020;
  text-align: center;
}

.perfil-header {
  margin-bottom: 20px;
}

.perfil-foto {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #4a76ff;
}

.perfil-nome {
  margin-top: 15px;
  font-size: 22px;
}

.perfil-email {
  color: #666;
}

.perfil-info {
  text-align: left;
  margin-top: 25px;
}

.perfil-info h3 {
  margin-bottom: 10px;
}

.perfil-info ul li {
  margin: 6px 0;
}

.perfil-acoes {
  margin-top: 25px;
  display: flex;
  justify-content: space-between;
}

.btn-editar, .btn-sair, .btn-voltar {
  margin: 10px;
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.btn-editar {
  background: #4a76ff;
  color: white;
}

.btn-sair {
  background: #ff4c4c;
  color: white;
}
.btn-voltar {
  background: #57C785;
  color: white;
}