#body {
  background-color: #4371c5;
  height: 100vh;
  animation: fadeIn 0.4s ease forwards;
  width: auto;
}

#content {
  margin-top: -5.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

#content h1 {
  color: #fff;
  font-family: 'Inter', sans-serif;
  cursor: default;
  animation: fade 2s ease forwards;
  font-size: 4.5rem;
}

#bottom-bar {
  position: absolute;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 1px 1px 2px 2px #fff;
  margin-bottom: -65px;
  padding: 27px 0px 0px 0px;
}

img {
  margin-top: 100px;
  width: 450px;
  display: block;
  will-change: transform;
  animation: floatY 4s ease-in-out infinite;
  cursor: pointer;
  margin-bottom: -1rem;
}

.text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: -45px;
  text-align: center;
}

img:hover {
  animation-play-state: paused;
}

@keyframes floatY {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-1.3rem);
  }
  100% {
    transform: translateY(0);
  }
}

span {
  color: #fff;
  font-family: 'Inter' sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-size: 2.2rem;
  animation: fade 2s ease forwards;
  cursor: default;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateX(12px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
