  <nav class="navBar">
    <a href="/home" id="anchorLogo">
      <img id="imgLogo" src="assets/images/newLogo.png" alt="Logo" />
    </a>
    <h1 id="title">Biblioteca Virtual</h1>
    <div class="contentHeader">
      <ul class="links">
        <li><a href="/home" class="anchor">Início</a></li>
        <li><a href="/acervo" class="anchor">Acervo</a></li>
        <li><a href="/salas" class="anchor">Salas</a></li>
        <li><a href="/perfil" class="anchor">Perfil</a></li>
      </ul>
    </div>
  </nav>