
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #172635;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .nav-logo h3 {
    color: white;
    margin: 0;
    font-size: 25px;
  }

  .nav-links {
    display: flex;
    list-style: none;
    gap: 2rem;
    margin: 0;
    padding: 0;
    font-size: 16px;
  }

  .nav-links a {
    color: white;
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    transition: all 0.3s ease;
  }

  .nav-links a:hover {
    color: #B88768;
    transform: translateY(-2px);
  }

  .nav-links a.active {
    color: #B88768;
  }
  .ativo {
    font-weight: bold;
    color: #007bff;
  }