<footer class="footerPage">
  <div class="socialMedia">
    <h3>Participantes:</h3>
    <div>
      <ul class="social-list">
        <li>
          <a href="https://www.linkedin.com/in/henry-mikael/" class="social-box" target="_blank">
            <i class="fa-brands fa-linkedin"></i> Henry Mikael
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/arthur-formiga-00436b25b?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=ios_app"
            class="social-box"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i> Arthur Formiga
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/kauã-castro-santos-1712a5245/"
            class="social-box"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i> Kauã Castro</a
          >
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/gustavo-kauan-18a986391/"
            class="social-box"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i> Gustavo Kauan
          </a>
        </li>
        <li>
          <a
            href="https://www.linkedin.com/in/yuri-de-menezes-81237136a/"
            class="social-box"
            target="_blank"
          >
            <i class="fa-brands fa-linkedin"></i>Yuri Menezes
          </a>
        </li>
        <li>
          <a href="http://www.linkedin.com/in/" class="social-box" target="_blank">
            <i class="fa-brands fa-linkedin"></i> Rafael de Medeiros
          </a>
        </li>
      </ul>
      <h3>Repositório:</h3>
      <ul class="social-list">
        <li>
          <a href="https://github.com/karnoak/Projeto-Tiago.git" id="github" target="_blank">
            <i class="fa-brands fa-github"></i> GitHub
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>