<div class="login-container">
  <div class="login-title">
    <h1>Cadastro</h1>
  </div>
  <form>
    <div class="form-grupo">
      <label for="email">E-mail</label>
      <input type="email" [(ngModel)]="email" name="email" id="email" placeholder="seu@gmail.com" />
    </div>

    <div class="form-grupo">
      <label for="telefone">Telefone</label>
      <input type="text" [(ngModel)]="phone" name="phone" id="telefone" placeholder="(99) 99999-9999" />
    </div>

    <div class="form-grupo">
      <label for="senha">Senha</label>
      <input type="password" [(ngModel)]="password" name="password" id="senha" placeholder="********" />
    </div>

    <div class="form-grupo">
      <label for="confirmPassword">Confirme a Senha</label>
      <input type="password" [(ngModel)]="confirmPassword" name="confirmPassword" id="confirmPassword" placeholder="********" />
    </div>

    <button type="button" class="login-button" (click)="registrar()">Registrar</button>
  </form>
  <div class="register">
    <p>Já tem uma conta? <a routerLink="/login-screen">Entre</a></p>
  </div>
</div>